:root {
    --blue: #93d6ff;
    --red: #e06354
}

body {
    background-color: var(--blue);
    margin: 0;
}

.button {
    margin: 10px 10px;

    font-family: Arial;
    font-size: 16px;
    padding: 8px 16px;
    color: black;

    border-radius: 6px;
    border: 2px solid var(--red);
    background-color: white;
}

.button:hover {
    transition-duration: 0.6s;

    padding: 8px 16px;
    background-color: var(--red);
}

.title {
    margin-top: 74px;
    margin-left: 100px;
    font-family: Arial;
    font-weight: 700;
    font-size: 40px;
    color: var(--red);
}

.codes-list {
    padding-left: 125px;
    list-style-position: inside;
    color: var(--red);
}

.list-el {
    padding-bottom: 5px
}

.link {
    font-family: Arial;
    font-weight: 500;
    font-size: 30px;
    color: var(--red);
    text-decoration: none;
}

.link:hover {
    transition-duration: 0.6s;

    color: white
}