:root {
    --blue: #93d6ff;
    --red: #e06354
}

body {
	background-color: var(--blue);
	margin: 0;
}

.header {
	font-family: Arial;
	font-weight: 750;
	font-size: 40px;
	color: var(--red);
	margin: 100px 100px;
}

.list-links {
    padding-left: 100px;
	list-style-position: inside;
	color: var(--red);
}

.list-elements {
	padding-bottom: 5px
}

.link {
	font-family: Arial;
	font-weight: 500;
	font-size: 30px;
	color: var(--red);
	text-decoration: none;
}

.link:hover {
    transition-duration: 0.6s;

    color: white
}

.link_h1 {
	font-family: Arial;
	font-weight: 750;
	font-size: 40px;
	color: var(--red);
    text-decoration:  none;
}

.link_h1:hover {
    transition-duration: 0.6s;

    color: white
}