body {
  width: 400px;
  margin: 30px auto;
  padding: 0;
  background-color: rgba(140, 140, 255, 150);
}

canvas {
  display: block;
  border: solid 4px rgba(225, 65, 65, 150);
  border-radius: 2%;
}
