body {
  margin: 0;
  padding: 0;
  background-color: #dccdfa;
}

canvas {
  display: block;
  margin: 40px auto;
  border: solid black 2px;
  transition-duration: 0.5s;
}

canvas:hover {
  border: solid #dccdfa 2px;
}

.block {
  left: 10px;
  position: relative;
  width: 530px;
  heigth: 75px;
  margin: 40px auto;
  margin-top: 100px;
}

.button {
  -webkit-appearance: none;
  appearance: none;


  display: inline;
  width: 225px;
  height: 75px;

  font-size: 23px;
  font-family: Lucida Console;
  text-align: center;

  border: solid black 2px;
  border-radius: 7px;

  transition-duration: 0.5s;
}

.button:hover {
  border: solid #dccdfa 2px;
  color: rgb(255, 255, 255);
  background-color: rgb(50, 50, 50);
}

.color {
  -webkit-appearance: none;
  appearance: none;

  position: relative;
  top: 27.5px;
  left: -20px;
  
  width: 65px;
  height: 65px;

  border: none;
  border-radius: 75px;

  background: none;
  overflow: hidden;
  cursor: pointer;
}

.color::-webkit-color-swatch-wrapper {
  padding: 0;
}

.color::-webkit-color-swatch {
  border: solid #dccdfa 1px;
  border-radius: 75px;
  transition-duration: 0.5s;
}

.color::-webkit-color-swatch:hover {
  border: solid black 1px;
  border-radius: 75px;
}